@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Joke's House</h1>
    <p>This is the best place to find a joke that will crack you up and this page is running on your local sever. Security should not be much of a problem for you.</p>
</div>
